version: "3.8"
services:
  web:
    build:
      context: .
      args:
        APP_PORT: ${PORT:-3000}
    container_name: goit_hw03_compose
    env_file:
      - .env
    environment:
      - PORT=${PORT:-3000}
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    volumes:
      - ./storage:/app/storage
    restart: unless-stopped
